.footer-container {
    background-color: white;
    border-top: 1px solid rgba(51, 51, 51, 0.2);
    color: #333;
    padding: 5px 10px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 98.5%;
    height: 20px;
  }
  
  .footer-left {
    margin-right: auto;
  }
  
  .footer-middle {
    padding-right: 438px;
  }
  
  .footer-right {
    font-weight: bold;
  }
  